<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="User management "  verbose="5" preserve-order="true" >
	<parameter name="browserType" value="Chrome" />
	<parameter name="url" value="https://delta.consumer.fawry.io/be-login" />

	<test name="Users Management Module Tests">
		<classes>



			<class name="com.fawry.userManagment.angularAutomation.tests.AddRoleTests" />
			<class name="com.fawry.userManagment.angularAutomation.tests.ViewRolesTest" />

			<class name="com.fawry.userManagment.angularAutomation.tests.AddUserTests" />

			<class name="com.fawry.userManagment.angularAutomation.tests.ViewUserTest" />


		</classes>
	</test>

</suite>