<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Promo Loyalty"  verbose="5" preserve-order="true" >
	<parameter name="browserType" value="Chrome" />
	<parameter name="url" value="http://10.95.0.178/be-login" />

	<test name="Users Management Module Tests">
		<classes>
			<class name="com.fawry.userManagment.angularAutomation.tests.AddUserTests" />
			<class name="com.fawry.userManagment.angularAutomation.tests.ViewUserTest" />
	    	<class name="com.fawry.userManagment.angularAutomation.tests.AddRoleTests" />
			<class name="com.fawry.userManagment.angularAutomation.tests.ViewRolesTest" />


		</classes>
	</test>

</suite>